body {
    background: url(../imgs/bg.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.logo {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.title {
    font-weight: 500;
    line-height: 64px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 110px;
}

.balance {
    font-weight: 900;
    line-height: 115px;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}

.balance:after {
    content: ' VNĐ';
    font-size: 36px;
}