<head>
    <style>
        @font-face {
            font-family: 'SF UI Display';
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Regular.eot');
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Regular.woff2') format('woff2'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Regular.woff') format('woff'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'SF UI Display';
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Medium.eot');
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Medium.woff2') format('woff2'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Medium.woff') format('woff'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SF UI Display';
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Bold.eot');
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Bold.woff2') format('woff2'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Bold.woff') format('woff'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'SF UI Display';
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Black.eot');
            src: url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Black.woff2') format('woff2'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Black.woff') format('woff'), url('https://turnback.000webhostapp.com/fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
            font-weight: 900;
            font-style: normal;
        }

        .bankn-mail-body {
            font-family: SF UI Display !important;
            text-align: center;
            padding: 30px;
        }

        .header {
            margin-top: 30px;
            border-radius: 10px 10px 0px 0px;
            background: url(https://turnback.000webhostapp.com/imgs/bg.png);
            background-size: cover;
            height: 50px;
            color: #fff;
            font-weight: 900;
            text-align: center;
            font-size: 24px;
            padding-top: 15px;
        }

        .mail-body {
            border-radius: 0px 0px 10px 10px;
            border: 1px solid #ccc;
            border-top: 0px;
            font-size: 18px;
            padding: 30px;
            text-align: left;
            color: #000;
        }

        .mail-body div {
            margin: 15px 0px;
        }

        .receiver {
            font-weight: 700;
            color: #FC4100;
        }

        .otp-cnt {
            color: #888;
            font-weight: 700;
            padding-top: 30px;
            text-align: center;
        }

        .otp-cnt .otp-number {
            padding-top: 5px;
            height: 60px;
            background: #FC4100;
            border-radius: 10px;
            font-size: 36px;
            font-weight: 900;
            letter-spacing: 0.5em;
            color: #fff;
            margin-top: 20px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<div class="bankn-mail-body">

    <img src="https://turnback.000webhostapp.com/imgs/logo.png">
    <div class="otp-mail">
        <div class="header">
            Mã OTP chuyển khoản
        </div>
        <div class="mail-body">
            <div>
                Chào <span class="receiver">Trần Lê Nguyễn Hoàng Minh</span>,
            </div>
            <div>
                Chúng tôi gửi bạn mã OTP cho giao dịch chuyển khoản gần nhất của bạn.
            </div>
            <div>
                Hãy nhập mã OTP dưới đây vào trang web để thực hiện giao dịch.
            </div>
            <div class="otp-cnt">
                Mã OTP
                <div class="otp-number">
                    523456
                </div>
            </div>
        </div>
    </div>

</div>